@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: #007bff;
}

.start-btn button{
    font-size: 25px;
    font-weight: 500;
    color: #007bff;
    padding: 15px 30px;
    outline: none;
    border: none;
    border-radius: 5px;
    background: #fff;
    cursor: pointer;
}

.timer-container{
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px; 
    background-color: #f0f0f0; /
}

.page-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.page-title {
    color: var(--primary);
    margin-bottom: 5px;
    margin-top: 0;
    font-size: 2.5rem;
}

.container{
    padding: 10px; 
}

.centered-text{
    text-align: center;
}

